# ✅ Streamlit 및 데이터 처리 라이브러리
streamlit==1.30.0
pandas==2.0.3
numpy==1.24.2
scikit-learn==1.3.0

# ✅ Hugging Face 및 기타 필수 라이브러리
transformers==4.36.2
dill==0.3.5.1
matplotlib==3.7.1
seaborn==0.12.2
altair==5.1.2
plotly==5.17.0
streamlit-option-menu==0.3.2
requests==2.31.0
